<script>
	window.onload=function(){
		
	}

</script>

<header>
    <div class="topnav">
        <img id="logo" src="../../public/assets/beer logo.png">
        <a id= "websiteName"href="/">Beer Tracker</a>
            <div class="signUpLoginNav">
            <a href="/signUpLogin">Sign Up or Login</a>
        </div>
    </div>
</header>
<div>
    <div id="bg">
      <img src="../../public/assets/homepic.jpg">
    </div>
    <div class="mask"></div>
    <div class="container-main userProfile dashboard clearfix">
      <div class="beer-content-common userProfile-left">
        <div class="common-info user-info">
          <ul>
            <li class="strong">{{firstName}} {{lastName}}</li>
            <li>{{city}}, {{state}}, {{country}}</li>
          </ul>
        </div>
        <div class="recent-content">
          <div class="recent-reviews box-border">
            <div class="top-title">
              Reviews
              <!--
              <div class="diamond">
                <span class="arrow-up"></span>
                <span class="arrow-bottom"></span>
              </div> --->
            </div>
            <div class="submissions-list">
              <ul>
                {{#each reviews}}
                <li class="beer-item-box clearfix">
                  <div class="beer-info">
                    <div class="beer-filed strong"><a href="/beers/beersList/{{this.beer._id}}">
                      {{this.beer.name}}
                    </a></div>
                    <div class="beer-filed">{{this.comment}}</div>
                  </div>
                  <div class="beer-grade">
                    {{this.rating}}
                  </div>
                </li></a>
                {{/each}}
              </ul>
            </div>
          </div>
          <div class="recent-beer-submissions box-border">
            <div class="top-title">Following</div>
            <div class="recent-reviews-list">
              <ul>
                {{#each following}}
                <li class="recent-review-item">
                  <a href="/user/{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="beer-content-common userProfile-right">
        <div class="top-title strong">
          Favorite Beers
        </div>
        <div class="choice-list">
          <ul>
            {{#each favoriteBeers}}
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong"><a href="/beers/beersList/{{this._id}}">{{this.name}}</a></div>
              <div class="beer-filed">{{this.type}}</div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>