<script>
	window.onload=function(){
		
	}

</script>

<header>
    <div class="topnav">
        <img id="logo" src="../../public/assets/beer logo.png">
        <a id= "websiteName"href="/">Beer Tracker</a>
            <div class="signUpLoginNav">
            <a href ="/beers/beerSubmission">Post a beer</a>
            <a href="/beers/beersList">Beers</a>
            <a href="/signUpLogin/logout">logout</a>
        </div>
    </div>
</header>
<div>
    <div id="bg">
      <img src="../../public/assets/homepic.jpg">
    </div>
    <div class="mask"></div>
    <div class="container-main userProfile dashboard clearfix">
      <div class="beer-content-common userProfile-left">
        <div class="common-info user-info">
          <ul>
            <li class="strong">{{firstName}} {{lastName}}</li>
            <li>{{city}}, {{state}}, {{country}}</li>
          </ul>
        </div>
        <div class="recent-content">
          <div class="recent-reviews box-border">
            <div class="top-title">Recent Comments</div>
            <div class="recent-reviews-list">
              <ul>
                <li class="recent-review-item">
                    This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.
                  </li>
                  <li class="recent-review-item">
                    This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.
                  </li>
                  <li class="recent-review-item">
                    This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.
                  </li>
                  <li class="recent-review-item">
                    This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.
                  </li>
                </ul>
            </div>
            <div class="page-turner">
              <span class="btn pre"> < </span>
              <span>1</span>
              <span class="btn next"> > </span>
            </div>
          </div>
          <div class="recent-beer-submissions box-border">
            <div class="top-title">
              Recent Reviews
              <div class="diamond">
                <span class="arrow-up"></span>
                <span class="arrow-bottom"></span>
              </div>
            </div>
            <div class="submissions-list">
              <ul>
                <li class="beer-item-box clearfix">
                  <div class="beer-info">
                    <div class="beer-filed strong">Beer Name</div>
                    <div class="beer-filed">Brewing Company</div>
                  </div>
                  <div class="beer-grade">
                    1/5
                  </div>
                </li>
                <li class="beer-item-box clearfix">
                  <div class="beer-info">
                    <div class="beer-filed strong">Beer Name</div>
                    <div class="beer-filed">Brewing Company</div>
                  </div>
                  <div class="beer-grade">
                    2/5
                  </div>
                </li>
                <li class="beer-item-box clearfix">
                  <div class="beer-info">
                    <div class="beer-filed strong">Beer Name</div>
                    <div class="beer-filed">Brewing Company</div>
                  </div>
                  <div class="beer-grade">
                    3/5
                  </div>
                </li>
                <li class="beer-item-box clearfix">
                  <div class="beer-info">
                    <div class="beer-filed strong">Beer Name</div>
                    <div class="beer-filed">Brewing Company</div>
                  </div>
                  <div class="beer-grade">
                    3/5
                  </div>
                </li>
              </ul>
            </div>
            <div class="page-turner">
              <span class="btn pre"> < </span>
              <span>1</span>
              <span class="btn next"> > </span>
            </div>
          </div>
        </div>
      </div>
      <div class="beer-content-common userProfile-right">
        <div class="top-title strong">
          Favorite Beers
        </div>
        <div class="choice-list">
          <ul>
            {{#each favoriteBeers}}
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">{{this.name}}</div>
              <div class="beer-filed">{{this.type}}</div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
