<script>
  window.onload=function(){
    
    const arrowUpBtn = document.getElementById('arrowUp');
    const arrowDownBtn = document.getElementById('arrowDown');
    const rateNum = document.getElementById('rate-num');
    const upClass = arrowUpBtn.getAttribute('class');
    arrowUpBtn.addEventListener('click', () => {
      let num = +rateNum.innerText;
			if (num < 5) {
        rateNum.innerText = num + 0.5
        arrowDownBtn.classList.remove("disabled");
      } else {
        arrowUpBtn.classList.add("disabled");
      }
		});

    arrowDownBtn.addEventListener('click', () => {
      let num = +rateNum.innerText;
      if (num == 5) {
        arrowUpBtn.classList.remove("disabled");
      }
      num = num - 0.5
			if (num >= 0) {
        rateNum.innerText = num
        num <= 0 && arrowDownBtn.classList.add("disabled");
      }
		});
  }
</script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

    <header>
        <div class="topnav">
        <img id="logo" alt="logo" src="../../public/assets/beerLogo.png">
            <a id= "websiteName" href="/">Beer Tracker</a>
                <div class="signUpLoginNav">
                <a href="/beers/beersList">Beers</a>   
                <a href="/dashBoard">DashBoard</a>
                <a href="/signUpLogin/logout">Logout</a>
            </div>
        </div>
    </header>

<div>
  
    <div id="bg">
     </div>
    <div class="mask"></div>
    <div class="container-main userProfile beerPage clearfix">
      <div class="beer-content-common userProfile-left">
        <div class="common-info beer-info">
          <ul>
            <li class="strong">{{beer.name}}</li>
            <li>Type: {{beer.type}}</li>
            <li>ABV: {{beer.abv}}</li>
            <li>Malt: {{beer.malt}}</li>
            <li>Hops: {{beer.hops}}</li>
            <li class="taste-profile">
              <label>Notes:&nbsp;</label>
                {{beer.notes}}</li>
          </ul>
        </div>
        <div class="recent-activity-list">
          <div class="top-title strong">Comments</div>
          <ul>
              <li>
                <div class="col-sm-12 col-md-6" id="reviews-area">
                  {{#each beer.comments}} 
                  <div><a href="/user/{{this.user._id}}">{{this.user.firstName}} {{this.user.lastName}}</a></div>
                  <div>{{this.content}}</div> 
                  <div class="timestamp">{{this.date}}</div>
                  <br>
                  {{/each}}
                </div>
              </li>
          </ul>
 
          <form id="comment-form" action="/beers/beersList/{{beer._id}}/comment" method="POST">
            <label for="comment">Add a Comment:</label><br>
            <textarea id="comment" name="comment"></textarea><br>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
      <div class="beerPage-right">
        <div class="developers-choice">
          <div class="top-title strong">
            Review this Beer
          </div>
          <form id="review-form" action="/beers/beersList/{{beer._id}}/review" method="POST">
            <label for="rating">Rating:</label><br>
            <input type="number" id="rating" name="rating" step="0.1" min="0" max="5"><br>
            <label for="review">Review:</label><br>
            <textarea id="review" name="review"></textarea><br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="similar-beer">
          <div class="top-title strong">
            Similar Beers
          </div>
          <div class="choice-list">
            <ul>
              {{#each similar}}
              <li class="beer-item-box clearfix">
                <div class="beer-filed strong"><a href="/beers/beersList/{{this.beer._id}}">{{this.beer.name}}</a></div>
                <div class="beer-filed">{{this.beer.type}}</div>
              </li>
              {{/each}}
            </ul>
          </div>

        </div>
        
      </div>
    </div>
  </div>
   


<script src="/public/js/basic_ajax.js"></script>
