

<script>

  window.onload=function(){
    
    const arrowUpBtn = document.getElementById('arrowUp');
    const arrowDownBtn = document.getElementById('arrowDown');
    const rateNum = document.getElementById('rate-num');
    const upClass = arrowUpBtn.getAttribute('class');
    arrowUpBtn.addEventListener('click', () => {
      let num = +rateNum.innerText;
			if (num < 5) {
        rateNum.innerText = num + 0.5
        arrowDownBtn.classList.remove("disabled");
      } else {
        arrowUpBtn.classList.add("disabled");
      }
		});

    arrowDownBtn.addEventListener('click', () => {
      let num = +rateNum.innerText;
      if (num == 5) {
        arrowUpBtn.classList.remove("disabled");
      }
      num = num - 0.5
			if (num >= 0) {
        rateNum.innerText = num
        num <= 0 && arrowDownBtn.classList.add("disabled");
      }
		});
  }

</script>

<header>
    <div class="topnav">
        <img id="logo" src="../../public/assets/beer logo.png">
        <a id= "websiteName"href="/">Beer Tracker</a>
            <div class="signUpLoginNav">
            <a href="/beers/beersList">Beers</a>
            <a href="/signUpLogin">Sign Up or Login</a>
        </div>
    </div>
</header>

<div>
  
    <div id="bg">
     </div>
    <div class="mask"></div>
    <div class="container-main userProfile beerPage clearfix">
      <div class="beer-content-common userProfile-left">
        <div class="common-info beer-info">
          <ul>
            <li class="strong">{{beer.name}}</li>
            <li>Type: {{beer.type}}</li>
            <li>ABV: {{beer.abv}}</li>
            <li>Malt: {{beer.malt}}</li>
            <li>Hops: {{beer.hops}}</li>
            <li class="taste-profile">
              <label>Notes:&nbsp;</label>
              <p>
                {{beer.notes}}</li>
              </p>
          </ul>
        </div>
        <div class="recent-activity-list">
          <div class="leave-review-box">
            <div class="text-content">
            </div>

          </div>
          <div class="top-title strong">Comments</div>
          <ul>
                <div class="col-sm-12 col-md-6" id="reviews-area">
                  {{#each beer.comments}}
                  <div><a href="/user/{{this.user._id}}">{{this.user.firstName}} {{this.user.lastName}}</a></div>
                  <div>{{this.content}}</div> 
                  <div class="timestamp">{{this.date}}</div>
                  <br>
                  {{/each}}
                </div>
          </ul>
          <div class="page-turner">
            <span class="btn pre"> < </span>
            <span>1</span>
            <span class="btn next"> > </span>
          </div>
        </div>
      </div>
      <div class="beerPage-right">
        <div class="similar-beer">
          <div class="top-title strong">
            Similar Beers
          </div>
          <div class="choice-list">
            <ul>
              {{#each similar}}
              <li class="beer-item-box clearfix">
                <div class="beer-filed strong"><a href="/beers/beersList/{{this.beer._id}}">{{this.beer.name}}</a></div>
                <div class="beer-filed">{{this.beer.type}}</div>
              </li>
              {{/each}}
            </ul>
          </div>

        </div>
        
      </div>
    </div>
  </div>
   
</div>

<script src="/public/js/basic_ajax.js"></script>