

<script type="text/template" id="amz-tpl">
<div>
  
    <div id="bg">
      <img src="../../public/assets/homepic.jpg">
    </div>
    <div class="mask"></div>
    <div class="container-main userProfile beerPage clearfix">
      <div class="beer-content-common userProfile-left">
        <div class="common-info beer-info">
          <ul>
            <li class="strong">Sour Monkey</li>
            <li>ABV: 9.5% </li>
            <li>Brewing Company</li>
            <li>User Ratings: 4.5/5 </li>
            <li class="taste-profile">
              <label>Taste Profile:&nbsp;</label>
              <p>
                Fruity notes from imported Belgian yeast swirl through a precise souring</li>
              </p>
          </ul>
        </div>
        <div class="recent-activity-list">
          <div class="activity-list-title strong">Leave A Review</div>
          <div class="leave-review-box">
            <div class="text-content">
              <textarea name="" id="" rows="5"></textarea>
            </div>
            <div class="handle-box">
              <div class="rate-box">
                {{content.rateNum}}
                {{rateNum}}
                {{title}}
                {{this.data}}
                <div class="rate-num">{{rateNum}}/5</div>
                <div class="diamond">
                  <span class="arrow-up" id="arrowUp"></span>
                  <span class="arrow-bottom" id="arrowDown"></span>
                </div>
              </div>
              {{#each this}}
                  <p>{{rateNum}}:{{rateNum}}</p>
              {{/each}}

              <button>Submit Review</button>
            </div>
          </div>
          <ul>
            <li class="common-activity-item">
              <div class="desc">This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.</div>
              <div class="user-name">By: User Name</div>
            </li>
            <li class="common-activity-item">
              <div class="desc">This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.</div>
              <div class="user-name">By: User Name</div>
            </li>
          </ul>
          <div class="page-turner">
            <span class="btn pre"> < </span>
            <span>1</span>
            <span class="btn next"> > </span>
          </div>
        </div>
      </div>
      <div class="beer-content-common userProfile-right">
        <div class="developers-choice">
          <div class="top-title strong">
            Developer‘s Choice
          </div>
          <div class="choice-list">
            <ul>
              <li class="beer-item-box clearfix">
                <div class="beer-filed strong">Beer Name</div>
                <div class="beer-filed">Brewing Company</div>
              </li>
              <li class="beer-item-box clearfix">
                <div class="beer-filed strong">Beer Name</div>
                <div class="beer-filed">Brewing Company</div>
              </li>
              <li class="beer-item-box clearfix">
                <div class="beer-filed strong">Beer Name</div>
                <div class="beer-filed">Brewing Company</div>
              </li>
            </ul>
          </div>
        </div>
        <div>

        </div>
        
      </div>
    </div>
  </div>
   
</div>

</script>

<script>
  


  var rateNum = 3;
  var $tpl = document.getElementById('amz-tpl');
     console.log('&&&&&', $tpl)
      var source = $tpl.innerHTML;
      var template = Handlebars.compile(source);
      var context = {rateNum: 3, title: 'juiuiu'};
      console.log('*****', template)
      var html = template(context);
      document.getElementById('app').innerHTML = html;
      console.log('UUUU', this)
	window.onload=function(){
     



    const arrowUpBtn = document.getElementById('arrowUp');
    const arrowDownBtn = document.getElementById('arrowDown');
    arrowUpBtn.addEventListener('click', () => {
			if (rateNum < 5) {
        rateNum += 0.5
      }
		});

    arrowDownBtn.addEventListener('click', () => {
			if (rateNum > 0) {
        rateNum -= 0.5
      }
		});
		
	}

</script>