

<script>

  window.onload=function(){
    
    const arrowUpBtn = document.getElementById('arrowUp');
    const arrowDownBtn = document.getElementById('arrowDown');
    const rateNum = document.getElementById('rate-num');
    const upClass = arrowUpBtn.getAttribute('class');
    arrowUpBtn.addEventListener('click', () => {
      let num = +rateNum.innerText;
			if (num < 5) {
        rateNum.innerText = num + 0.5
        arrowDownBtn.classList.remove("disabled");
      } else {
        arrowUpBtn.classList.add("disabled");
      }
		});

    arrowDownBtn.addEventListener('click', () => {
      let num = +rateNum.innerText;
      if (num == 5) {
        arrowUpBtn.classList.remove("disabled");
      }
      num = num - 0.5
			if (num >= 0) {
        rateNum.innerText = num
        num <= 0 && arrowDownBtn.classList.add("disabled");
      }
		});
  }

</script>
<script src="/public/js/basic_ajax.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>


    <header>
        <div class="topnav">
            <img id="logo" src="../../public/assets/beer logo.png">
            <a id= "websiteName"href="/">Beer Tracker</a>
                <div class="signUpLoginNav">
                <a href="/beers/beersList">Beers</a>   
                <a href="/dashBoard">DashBoard</a>
                <a href="/signUpLogin/logout">logout</a>
            </div>
        </div>
    </header>

<div>
  
    <div id="bg">
      <img src="../../public/assets/homepic.jpg">
    </div>
    <div class="mask"></div>
    <div class="container-main userProfile beerPage clearfix">
      <div class="beer-content-common userProfile-left">
        <div class="common-info beer-info">
          <ul>
            <li class="strong">name: {{beer.name}}</li>
            <li>type: {{beer.type}}</li>
            <li>abv: {{beer.abv}}</li>
            <li>malts: {{beer.malt}}</li>
            <li>hops: {{beer.hops}}</li>
            <li class="taste-profile">
              <label>Taste Profile:&nbsp;</label>
              <p>
                {{beer.notes}}</li>
              </p>
          </ul>
        </div>
              <form id = 'new-review-form'>
                  <input type = 'number' id = 'new-review-rate'>
                  <textarea name="comment" id="new-review" rows="5"></textarea>
                  <input type='submit' value='Submit a new review' />
              </form>
        <div class="recent-activity-list">
          <div class="activity-list-title strong">Leave A Review</div>
          <div class="leave-review-box">
            <div class="text-content">
              <textarea name="" id="" rows="5"></textarea>
            </div>
            <div class="handle-box">
              <div class="rate-box">
                <div class="rate-num"><span id="rate-num">3</span>/5</div>
                <div class="diamond">
                  <span class="arrow-up tete" id="arrowUp"></span>
                  <span class="arrow-bottom" id="arrowDown"></span>
                </div>
              </div>
              <button class="submit-btn">Submit Review</button>
            </div>
          </div>
          <div class="reviews-title strong">Reviews</div>
          <ul>
            <li class="common-activity-item">
              <div class="desc">This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.</div>
              <div class="user-name">By: User Name</div>
            </li>
            <li class="common-activity-item">
              <div class="desc">This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.</div>
              <div class="user-name">By: User Name</div>
            </li>
          </ul>
          <div class="page-turner">
            <span class="btn pre"> < </span>
            <span>1</span>
            <span class="btn next"> > </span>
          </div>
        </div>
      </div>
      <div class="beerPage-right">
        <div class="developers-choice">
          <div class="top-title strong">
            Developer‘s Choice
          </div>
          <div class="choice-list">
            <ul>
              <li class="beer-item-box clearfix">
                <div class="beer-filed strong">Beer Name</div>
                <div class="beer-filed">Brewing Company</div>
              </li>
              <li class="beer-item-box clearfix">
                <div class="beer-filed strong">Beer Name</div>
                <div class="beer-filed">Brewing Company</div>
              </li>
              <li class="beer-item-box clearfix">
                <div class="beer-filed strong">Beer Name</div>
                <div class="beer-filed">Brewing Company</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="similar-beer">
          <div class="top-title strong">
            Similar Beers
          </div>
          <div class="choice-list">
            <ul>
              <li class="beer-item-box clearfix">
                <div class="beer-filed strong">Beer Name</div>
                <div class="beer-filed">Brewing Company</div>
              </li>
              <li class="beer-item-box clearfix">
                <div class="beer-filed strong">Beer Name</div>
                <div class="beer-filed">Brewing Company</div>
              </li>
              <li class="beer-item-box clearfix">
                <div class="beer-filed strong">Beer Name</div>
                <div class="beer-filed">Brewing Company</div>
              </li>
            </ul>
          </div>

        </div>
        
      </div>
    </div>
  </div>
   
</div>