<script>
	window.onload=function(){
		
	}

</script>

    <header>
        <div class="topnav">
            <img id="logo" src="../../public/assets/beer logo.png">
            <a id= "websiteName"href="/">Beer Tracker</a>
                <div class="signUpLoginNav">
                 <a href="/dashBoard">DashBoard</a>
                <a href="/signUpLogin/logout">Logout</a>
            </div>
        </div>
    </header>


<div>
    <div id="bg">
        <img src="../../public/assets/homepic.jpg">
    </div>
    <div class="mask"></div>
    <div class="container-main beersList clearfix">
      <div class="beer-content-common beersList-left">
        <div class="beers-list-query clearfix">
          <div class="search_box">

            <form action="/beers/beersList/search" method="POST">
                <input type="text" name= 'beer_search' placeholder="Search for a Beer...">
                <button type="submit" class="fas fa-search">Search</button>
            </form>

          </div>
        </div>
        <div class="beers-list-content">
          <div class="result-desc">Search Results for <span class="strong">Beer</span></div>
          <ul>
            {{#if searchResult}}
              <li class="beer-item-box clearfix">
              <div class="beer-left">
                <div class="beer-filed strong">
                  <a href = "/beers/beersList/{{id}}">{{name}}</a>
                </div>
                <div class="beer-filed">
                  type: {{type}}
                </div>
                <div class="beer-filed">
                  abv: {{abv}}
                </div>
              </div>
              <div class="beer-right">
                <div class="beer-filed">
                  malts: {{malt}}
                </div>
                <div class="beer-filed">
                  hops: {{hops}}
                </div>
              </div>
            </li>
            {{/if}}

            {{#if HasSearch_error}}
              <div>{{search_error}}</div>
            {{/if}}

            {{#each beers}}
            <li class="beer-item-box clearfix">
              <div class="beer-left">
                <div class="beer-filed strong">
                  <a href = "/beers/beersList/{{_id}}">{{name}}</a>
                </div>
                <div class="beer-filed">
                  Type: {{type}}
                </div>
                <div class="beer-filed">
                  ABV: {{abv}}
                </div>
              </div>
              <div class="beer-right">
                <div class="beer-filed">
                  Malt: {{malt}}
                </div>
                <div class="beer-filed">
                  Hops: {{hops}}
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
          <div class="page-turner">
            <span class="btn pre"> < </span>
            <span>1</span>
            <span class="btn next"> > </span>
          </div>
        </div>
      </div>
      <div class="beer-content-common beersList-right">
        <div class="top-title strong">
          Your Recommended Beers
        </div>
        <div class="choice-list">
          <ul>
            {{#each recommended}}
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong"><a href="/beers/beersList/{{this.beer._id}}">{{this.beer.name}}</a></div>
              <div class="beer-filed">{{this.beer.type}}</div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
</div>
