<script>
  window.onbeforeunload = function(event){

};  
	window.onload=function(){
    let prePageBtn = document.getElementById('prePage');
    let nextPageBtn = document.getElementById('nextPage');
    let form = document.getElementById('paginator');
    let total = {{total}};
    let page = {{page}};
    let size = {{size}};
    let totalPage = parseInt(total / size);
    if (total % size > 0) {
      totalPage += 1;
    } 
    console.log('*****', totalPage, page)
    if (page == 1) {
      prePageBtn.classList.add("disabled");
    } else if (totalPage == page){
      nextPageBtn.classList.add("disabled");
    } else {
      prePageBtn.classList.remove("disabled");
      nextPageBtn.classList.remove("disabled");
    }
    form.addEventListener('submit',function(e){
      e.preventDefault();
    });
    nextPageBtn.addEventListener('click', () => {
      if (page >= totalPage) {return}
      document.getElementById("page").value = page + 1;
      form.submit();
    })
    prePageBtn.addEventListener('click', () => {
      if (page <= 1) {return}
      document.getElementById("page").value = page - 1;
      form.submit();
    })

    let searchBtn = document.getElementById('search');
    searchBtn.addEventListener('click', () => {
      let page = 1;
      document.getElementById("page").value = page;
      form.submit();
    })

    
	}

</script>

<div>
    {{!-- <div id="bg">
        <img src="../../public/assets/homepic.jpg">
    </div> --}}
    <div class="mask"></div>
    <div class="container-main beersList clearfix">
      <div class="beer-content-common beersList-left">
        <form id="paginator" action="/beers" method="post">
          <div class="beers-list-query clearfix">
            <div class="search_box">
              <input type="text" placeholder="Search for a Beer or Brand..." name="beerLike" value={{beerLike}}>
              <i class="fas fa-search" id="search"></i>
            </div>
            <span class="search-symbol">or</span>
            <button class="search-btn strong" id="dddddd">Submit New Beer</button>
          </div>

          <div class="beers-list-content">
            <div class="result-desc">Search Results for <span class="strong">Beer Name/Brand</span></div>
            <ul>
              {{#each beers}}
              <li class="beer-item-box clearfix">
                <div class="beer-left">
                  <div class="beer-filed strong">
                    {{name}}
                  </div>
                  <div class="beer-filed">
                    Brewing Company
                  </div>
                  <div class="beer-filed">
                    Toste profile: {{type}}
                  </div>
                </div>
                <div class="beer-right">
                  <div class="beer-filed">
                    ABV: {{abv}}
                  </div>
                  <div class="beer-filed">
                    User Ratings: {{rating}}/5
                  </div>
                </div>
              </li>
              {{/each}}
            </ul>
            <div class="page-turner">
              <span class="btn pre " id="prePage" name="prePage">
                <
              </span>
              <span>{{page}}</span>
              <input type="hidden" name="page" id="page" value={{page}}>
              <span class="btn next" id="nextPage"> 
                >
              </span>
            </div>
            
          </div>
        </form>
      </div>
      <div class="beer-content-common beersList-right">
        <div class="top-title strong">
          Developer‘s Choice
        </div>
        <div class="choice-list">
          <ul>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
          </ul>

        </div>
      </div>
    </div>
</div>
