<script>
	window.onload=function(){
    let prePageBtn = document.getElementById('prePage');
    let nextPageBtn = document.getElementById('nextPage');
    let form = document.getElementById('paginator');
    nextPageBtn.addEventListener('click', () => {
      let page = +document.getElementById("page").value;
      document.getElementById("page").value = page + 1;
      form.submit();
    })
    prePageBtn.addEventListener('click', () => {
      let page = +document.getElementById("page").value;
      document.getElementById("page").value = page - 1;
      form.submit();
    })
	}

</script>

<div>
    <div id="bg">
        <img src="../../public/assets/homepic.jpg">
    </div>
    <div class="mask"></div>
    <div class="container-main beersList clearfix">
      <div class="beer-content-common beersList-left">
        <div class="beers-list-query clearfix">
          <div class="search_box">
            <input type="text" placeholder="Search for a Beer or Brand...">
            <i class="fas fa-search"></i>
          </div>
          <span class="search-symbol">or</span>
          <button class="search-btn strong" id="Submit">Submit New Beer</button>
        </div>
        <div class="beers-list-content">
          <div class="result-desc">Search Results for <span class="strong">Beer Name/Brand</span></div>
          <ul>
            {{#each beers}}
            <li class="beer-item-box clearfix">
              <div class="beer-left">
                <div class="beer-filed strong">
                  {{name}}
                </div>
                <div class="beer-filed">
                  Brewing Company
                </div>
                <div class="beer-filed">
                  Toste profile: {{type}}
                </div>
              </div>
              <div class="beer-right">
                <div class="beer-filed">
                  ABV: {{abv}}
                </div>
                <div class="beer-filed">
                  User Ratings: {{rating}}/5
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
          <form id="paginator" action="/beers" method="post">
            <div class="page-turner">
              <span class="btn pre" id="prePage" name="prePage">
                <
              </span>
              <span>{{page}}</span>
              <input type="hidden" name="page" id="page" value={{page}}>
              <span class="btn next" id="nextPage"> 
                >
              </span>
            </div>
          </form>
          
        </div>
      </div>
      <div class="beer-content-common beersList-right">
        <div class="top-title strong">
          Developer‘s Choice
        </div>
        <div class="choice-list">
          <ul>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
          </ul>

        </div>
      </div>
    </div>
</div>
